<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>

  <header class="header">
    <div class="wrap">
      <div class="header__box">
        <a href="/" class="header__logo">my<span>App</span></a>
      </div>
    </div>
  </header>


  <main class="main">
    <div class="wrap">
      <div id="app">



      </div>
    </div>
  </main>

  </div>
  <!-- built files will be auto injected -->
</body>

</html>