<template>
  <div class="begin">
    <div class="begin__choose" v-if="!success">
      <button
        class="begin__choose-action"
        @click="chooseTab('regTab')"
        :class="{ active: tabs.regTab }"
      >
        Регистрация
      </button>
      <button
        class="begin__choose-action"
        @click="chooseTab('authTab')"
        :class="{ active: tabs.authTab }"
      >
        Авторизация
      </button>
    </div>

    <transition name="fade" mode="out-in">
      <app-reg v-if="tabs.regTab"></app-reg>
      <app-auth v-else-if="tabs.authTab"></app-auth>
    </transition>
  </div>
</template>

<script>
import "@/styles/profile.css";
import AppAuth from "@/components/Auth";
import AppReg from "@/components/Reg";

export default {
  name: "Begin",
  components: {
    AppAuth,
    AppReg,
  },

  data() {
    return {
      success: false,

      tabs: {
        regTab: true,
        authTab: false,
      },
    };
  },

  mounted() {
    let userLocalData = JSON.parse(localStorage.getItem("user"));

    if (userLocalData) {
      this.success = true;
    }
    // Код, который будет запущен только после
    // обновления всех представлений
  },

  methods: {
    chooseTab(e) {
      for (let key in this.tabs) {
        this.tabs[key] = false;
        this.tabs[e] = true;
      }
    },
  },
};
</script>

<style lang="stylus">

.fade-enter-active
  animation: fade-in-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both

.fade-leave-active
  animation: fade-out-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;


@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}
</style>
