<template>
  <div>
    <div class="profile">
      <transition name="track" appear appear-active-class="track-in">
        <h1 class="profile__title">ToDo</h1>
      </transition>
    </div>
  </div>
</template>

<script>
import appReg from "@/components/Reg";
export default {
  name: "Todo",
  components: {
    appReg,
  },
};
</script>

<style lang="stylus" scoped>
.track-in
	animation: focus-in-contract 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
</style>
