<template>
  <div>
    <form class="auth" @submit.prevent="sendForm">
      <transition name="track" appear appear-active-class="track-in">
        <h1 class="auth__title">Вход</h1>
      </transition>
      <div class="auth__list">
        <div class="auth__item" v-for="(field, i) in form" :key="i">
          <label>{{ field.name }}</label>
          <input
            class="auth__field"
            :class="{ error: field.valid }"
            :type="field.type"
            :placeholder="field.placeholder"
            v-model="field.value"
            @focus="clearError(i)"
          />
          <div v-if="field.valid" class="field-error">{{ field.error }}</div>
        </div>
      </div>
      <button class="auth__action">Войти</button>
    </form>
  </div>
</template>

<script>
import "@/styles/auth.css";
export default {
  name: "Auth",
  data() {
    return {
      form: {
        email: {
          name: "Эл. адресс",
          value: "",
          type: "text",
          placeholder: "Введите email",
          pattern: /^([\w.*-]+@([\w-]+\.)+[\w-]{2,4})?$/,
        },
        password: {
          name: "Пароль",
          value: "",
          type: "password",
          placeholder: "Введите пароль",
          pattern: /(?=.*[0-9])/,
        },
      },
    };
  },

  computed: {
    formReady() {
      return Object.values(this.form).every((el) => el.valid != true);
    },
  },

  methods: {
    sendForm() {
      this.checkEmptyFields();
      if (this.formReady) {
        alert("Отправка");
      }
    },

    checkEmptyFields() {
      for (const key in this.form) {
        let field = this.form[key];
        if (field.value == "") {
          field.valid = true;
          field.error = "Заполните поле";
        } else if (field.pattern) {
          field.valid = !field.pattern.test(field.value);
          field.error = "Поле заполнено не корректно";
        }
      }
    },
    clearError(i) {
      this.form[i].valid = false;
    },
  },

  created() {
    Object.values(this.form).forEach((field) => {
      this.$set(field, "valid", false);
      this.$set(field, "error", "");
    });
  },
};
</script>

<style lang="stylus" scoped>
.track-in
	animation: focus-in-contract 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
</style>
