<template>
  <div>
    <div class="modal show">
      <div class="over"></div>

      <div class="modal__box">
        <div class="modal__header">
          <slot name="header">
            <div class="modal__header-title">{{ title }}</div>
            <button
              type="button"
              class="modal__header-close"
              @click="$emit('close')"
            >
              <svg class="icon">
                <use xlink:href="/img/sprite.svg#close"></use>
              </svg>
            </button>
          </slot>
        </div>

        <div class="modal__main">
          <slot name="main">
            <p>{{ content }}</p>
          </slot>
        </div>

        <div class="modal__footer">
          <slot name="footer"> </slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Modal",
  props: {
    title: {
      type: String,
      default: "Спасибо",
    },
    content: {
      type: String,
    },
  },
};
</script>
