<template>
  <div>
    <div class="select-custom" @click.stop="hide_list = !hide_list">
      <div
        class="select-custom__resalt"
        :class="{ error: errorField }"
        @click="$emit('delete')"
      >
        {{ selectResult }}
      </div>
      <div
        class="select-custom__hide"
        :class="{ show: hide_list }"
        ref="select"
      >
        <label class="select-custom__item" v-for="item in list" :key="item.id">
          <input
            type="checkbox"
            class="checkbox"
            @change="$emit('checked', item.id)"
          />
          <div class="link">{{ item.name }}</div>
        </label>
      </div>
    </div>
  </div>
</template>

<script>
import "@/styles/my-select.css";
export default {
  name: "My-select",
  data() {
    return {
      hide_list: false,
    };
  },

  props: {
    list: Array,
    errorField: Boolean,
  },

  computed: {
    selectResult() {
      let arrResults = [];

      this.list.forEach((item) => {
        if (item.checked) {
          arrResults.push(item.name);
        }
      });

      if (arrResults.length) {
        return arrResults.join(", ");
      } else {
        return "Выберите вариант";
      }
    },
  },

  methods: {
    closeModal() {
      this.hide_list = false;
    },
  },

  created() {
    document.addEventListener("click", () => this.closeModal());
  },
};
</script>
