<template>
  <div>
    <form v-if="!formSend" class="reg" @submit.prevent="sendForm">
      <transition name="track" appear appear-active-class="track-in">
        <h1 class="reg__title">Регистрация</h1>
      </transition>
      <div class="reg__list">
        <div class="reg__item">
          <label>{{ form.firstName.label }}</label>
          <input
            class="reg__field"
            type="text"
            :class="{ error: form.firstName.valid }"
            v-model.trim="form.firstName.value"
            @focus="clearError('firstName')"
          />
          <div v-if="form.firstName.valid" class="field-error">
            {{ form.firstName.error }}
          </div>
        </div>

        <div class="reg__item">
          <label>{{ form.secondName.label }}</label>
          <input
            class="reg__field"
            type="text"
            :class="{ error: form.secondName.valid }"
            v-model.trim="form.secondName.value"
            @focus="clearError('secondName')"
          />
          <div v-if="form.secondName.valid" class="field-error">
            {{ form.secondName.error }}
          </div>
        </div>

        <div class="reg__item">
          <label>{{ form.email.label }}</label>
          <input
            class="reg__field"
            type="text"
            :class="{ error: form.email.valid }"
            v-model.trim="form.email.value"
            @focus="clearError('email')"
          />
          <div v-if="form.email.valid" class="field-error">
            {{ form.email.error }}
          </div>
        </div>

        <div class="reg__item">
          <label>{{ form.phone.label }}</label>
          <input
            class="reg__field"
            type="text"
            :class="{ error: form.phone.valid }"
            v-model.trim="form.phone.value"
            @focus="clearError('phone')"
          />
          <div v-if="form.phone.valid" class="field-error">
            {{ form.phone.error }}
          </div>
        </div>

        <div class="reg__item">
          <label>{{ form.cities.label }}</label>
          <select
            class="reg__field"
            v-model="form.cities.value"
            :class="{ error: form.cities.valid }"
            @focus="clearError('cities')"
          >
            <option value="0" disabled selected>
              {{ form.cities.option }}
            </option>
            <option
              v-for="(city, i) in form.cities.list"
              :key="i"
              :value="city.id"
            >
              {{ city.item }}
            </option>
          </select>
          <div v-if="form.cities.valid" class="field-error">
            {{ form.cities.error }}
          </div>
        </div>

        <div class="reg__item">
          <label>{{ form.countries.label }}</label>
          <select
            class="reg__field"
            v-model="form.countries.value"
            :class="{ error: form.countries.valid }"
            @focus="clearError('countries')"
          >
            <option value="0" disabled selected>
              {{ form.countries.option }}
            </option>
            <option
              v-for="(city, i) in form.countries.list"
              :key="i"
              :value="city.id"
            >
              {{ city.item }}
            </option>
          </select>
          <div v-if="form.countries.valid" class="field-error">
            {{ form.countries.error }}
          </div>
        </div>

        <div class="reg__item">
          <label>{{ form.password.label }}</label>
          <input
            class="reg__field"
            type="password"
            :class="{ error: form.password.valid }"
            v-model.trim="form.password.value"
            @focus="clearError('password')"
          />
          <div v-if="form.password.valid" class="field-error">
            {{ form.password.error }}
          </div>
        </div>

        <div class="reg__item">
          <label>{{ form.repeatPassword.label }}</label>
          <input
            class="reg__field"
            type="password"
            :class="{ error: form.repeatPassword.valid }"
            v-model.trim="form.repeatPassword.value"
            @focus="clearError('repeatPassword')"
          />
          <div v-if="form.repeatPassword.valid" class="field-error">
            {{ form.repeatPassword.error }}
          </div>
        </div>

        <div class="reg__item">
          <label>{{ form.interests.label }}</label>

          <app-customSelect
            :list="form.interests.list"
            :error_field="form.interests.valid"
            @delete="clearError('interests')"
            @checked="checkItem"
          ></app-customSelect>

          <div v-if="form.interests.valid" class="field-error">
            {{ form.interests.error }}
          </div>
        </div>

        <label class="reg__add">
          <input type="checkbox" class="checkbox" v-model="checkedMore.flag" />
          <div class="reg__add-item">Добавить информацию о себе</div>
        </label>

        <div class="reg__message" v-if="checkedMore.flag">
          <label>{{ form.message.label }}</label>
          <textarea
            class="reg__message-field"
            :class="{ error: form.message.valid }"
            v-model.trim="form.message.value"
            @focus="clearError('message')"
          ></textarea>
          <div v-if="form.message.valid" class="field-error">
            {{ form.message.error }}
          </div>
        </div>
      </div>

      <button class="reg__action" type="submit">
        Зарегестрироваться
      </button>

      <app-modal
        v-if="modaIsAsctive"
        @close="modaIsAsctive = false"
        title="Вы уверены что хотите зарегистрироваться?"
      >
        <template v-slot:footer>
          <button
            type="button"
            href="/"
            class="modal__footer-link"
            @click="regDone"
          >
            Да
          </button>
          <button
            type="button"
            class="modal__footer-link"
            @click="modaIsAsctive = false"
          >
            Нет
          </button>
        </template>
      </app-modal>
    </form>

    <div v-else class="profile">
      <transition name="track" appear appear-active-class="track-in">
        <h1 class="profile__title">Профиль</h1>
      </transition>
      <div class="profile__list">
        <div class="profile__item">{{ form.firstName.value }}</div>
        <div class="profile__item">{{ form.secondName.value }}</div>
        <div class="profile__item">{{ form.email.value }}</div>
        <div class="profile__item">{{ form.phone.value }}</div>
        <div
          class="profile__item"
          v-for="city in cityInfo"
          :key="'city:' + city.id"
        >
          {{ city.item }}
        </div>
        <div
          class="profile__item"
          v-for="country in countyInfo"
          :key="'country:' + country.id"
        >
          {{ country.item }}
        </div>
        <div class="profile__options">
          <div
            class="profile__options-interest"
            v-for="item in interestsInfo"
            :key="item.id"
          >
            {{ item.name }}
          </div>
        </div>
        <div class="profile__item">
          <div class="profile__item-about">
            {{ form.message.value }}
          </div>
        </div>
      </div>
      <button class="profile__delete" type="button" @click="removeProfile">
        Удалить профиль
      </button>
    </div>
  </div>
</template>

<script>
import "@/styles/reg.css";
import appCustomSelect from "@/components/My-select";
import appModal from "@/components/Modal";

export default {
  name: "Reg",
  components: {
    appCustomSelect,
    appModal,
  },
  props: {
    succsess: Boolean,
  },

  data() {
    return {
      formSend: false,
      modaIsAsctive: false,

      form: {
        firstName: {
          label: "Имя",
          value: "",
        },
        secondName: {
          label: "Фамилия",
          value: "",
        },
        email: {
          label: "Эл адресс",
          pattern: /^([\w.*-]+@([\w-]+\.)+[\w-]{2,4})?$/,
          value: "web@mail.ru",
        },
        phone: {
          label: "Телефон",
          pattern: /^([+]?[0-9\s-\(\)]{3,25})*$/,
          value: "89132226699",
        },
        cities: {
          label: "Город",
          value: 0,
          option: "Выберите город",
          list: [
            { item: "Москва", id: 1 },
            { item: "Барнаул", id: 2 },
            { item: "Бийск", id: 3 },
            { item: "Нижний новгород", id: 4 },
            { item: "Уфа", id: 5 },
            { item: "Нью Йорк", id: 6 },
          ],
        },
        countries: {
          label: "Страна",
          value: 0,
          option: "Выберите страну",
          list: [
            { item: "Россия", id: 1 },
            { item: "Америка", id: 2 },
            { item: "Франция", id: 3 },
          ],
        },
        password: {
          label: "Пароль",
          value: "",
          pattern: /(?=.*[0-9])/,
        },
        repeatPassword: {
          label: "Повторите пароль",
          value: "",
          pattern: /(?=.*[0-9])/,
        },
        message: {
          label: "Расскажите о себе",
          value: "",
        },
        interests: {
          label: "Ваши интересы",
          list: [
            {
              name: "Кино",
              checked: false,
              id: 1,
            },
            {
              name: "Музыка",
              checked: false,
              id: 2,
            },
            {
              name: "Путишествия",
              checked: false,
              id: 3,
            },
          ],
        },
      },

      checkedMore: {
        flag: false,
      },
    };
  },

  computed: {
    formReady() {
      return Object.values(this.form).every((field) => field.valid != true);
    },

    interestsInfo() {
      return this.form.interests.list.filter((el) => el.checked == true);
    },

    cityInfo() {
      return this.form.cities.list.filter(
        (el) => el.id == this.form.cities.value,
      );
    },

    countyInfo() {
      return this.form.countries.list.filter(
        (el) => el.id == this.form.countries.value,
      );
    },
  },

  mounted() {
    let userLocalData = JSON.parse(localStorage.getItem("user"));

    if (userLocalData) {
      this.formSend = true;
      this.form.firstName.value = userLocalData.firstName;
      this.form.secondName.value = userLocalData.secondName;
      this.form.email.value = userLocalData.email;
      this.form.cities.value = userLocalData.city;
      this.form.countries.value = userLocalData.country;
      this.form.message.value = userLocalData.message;
      this.form.interests.list = userLocalData.interests;
    }
  },

  methods: {
    removeProfile() {
      localStorage.removeItem("user");
      this.formSend = false;
      location.reload();
    },

    regDone() {
      this.formSend = true;
      this.modaIsAsctive = false;
      this.$emit("done", succsess);
    },

    sendForm() {
      this.checkForm();
      if (this.formReady) {
        localStorage.setItem(
          "user",
          JSON.stringify({
            firstName: this.form.firstName.value,
            secondName: this.form.secondName.value,
            email: this.form.phone.value,
            city: this.form.cities.value,
            country: this.form.countries.value,
            message: this.form.message.value,
            interests: this.form.interests.list,
          }),
        );
        this.modaIsAsctive = true;
      }
    },

    checkForm() {
      this.checkEmptyField(this.form.firstName);
      this.checkEmptyField(this.form.secondName);
      this.checkEmptyField(this.form.cities);
      this.checkEmptyField(this.form.countries);
      this.emailValidation(this.form.email);
      this.phoneValidation(this.form.phone);
      this.passwordValidation(this.form.password);
      this.passwordValidation(this.form.repeatPassword);
      this.matchPasswords(this.form.password, this.form.repeatPassword);
      if (this.checkedMore.flag == true) {
        this.checkEmptyField(this.form.message);
      }
      this.checkInterest(this.form.interests);
    },

    checkItem(id) {
      this.form.interests.list.forEach((el) => {
        if (el.id === id) el.checked = !el.checked;
      });
    },

    checkInterest(field) {
      if (this.form.interests.list.every((el) => el.checked != true)) {
        field.error = "Выберите ваши интересы";
        field.valid = true;
      }
    },

    checkEmptyField(field) {
      if (field.value == "") {
        field.error = "Заполните поле";
        field.valid = true;
      }
    },

    emailValidation(field) {
      if (field.value == "") {
        field.error = "Заполните поле";
        field.valid = true;
      } else if (field.pattern) {
        field.valid = !field.pattern.test(field.value);
        field.error = "Не верный email";
      }
    },

    phoneValidation(field) {
      if (field.value == "") {
        field.error = "Заполните поле";
        field.valid = true;
      } else if (field.pattern) {
        field.valid = !field.pattern.test(field.value);
        field.error = "Не верный номер телефона";
      }
    },

    passwordValidation(field) {
      if (field.value == "") {
        field.error = "Заполните поле";
        field.valid = true;
      } else if (field.pattern) {
        field.valid = !field.pattern.test(field.value);
        field.error = "Пароль должен содержать хотя бы 1 цифру";
      }
    },

    matchPasswords(field_1, field_2) {
      if (field_1.value !== field_2.value) {
        field_1.valid = true;
        field_2.valid = true;
        field_1.error = "Пароли не совпадают";
        field_2.error = "Пароли не совпадают";
      }
    },

    clearError(key) {
      this.form[key].valid = false;
    },
  },

  created() {
    Object.values(this.form).forEach((el) => {
      this.$set(el, "valid", false);
      this.$set(el, "error", "");
    });
  },
};
</script>

<style lang="stylus" scoped>

.profile__delete
  color var(--main)
  font-size 14px

.track-in
	animation: focus-in-contract 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacities: 0;
  }
  100% {
    filter: blur(0px);
    opacities: 1;
  }
}
</style>
