<template>
  <div>
    <aside class="sidebar">
      <div class="sidebar__nav">
        <router-link
          class="sidebar__nav-item"
          v-for="item in sideMenu"
          tag="div"
          :to="{ name: item.route }"
          :key="item.route"
          active-class="active"
          exact
        >
          <a class="sidebar__nav-link">{{ item.title }}</a>
        </router-link>
      </div>
    </aside>
  </div>
</template>

<script>
export default {
  name: "Sidebar",
  data() {
    return {
      sideMenu: [
        { route: "begin", title: "Начало работы" },
        { route: "todo", title: "Список дел" },
      ],
    };
  },
};
</script>
