<template>
  <div id="app">
    <div class="inner">
      <app-sidebar></app-sidebar>
      <div class="content">
        <transition name="slide" mode="out-in">
          <router-view></router-view>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
import AppSidebar from "./components/Sidebar";

export default {
  components: {
    AppSidebar,
  },
};
</script>

<style lang="stylus">



.slide-enter-active
  animation slide-in-right  0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both

.slide-leave-active
  animation slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both

.content
  overflow hidden

@keyframes slide-in-right
  0%
    transform: translateX(1000px)
    opacity: 0

  100%
    transform: translateX(0)
    opacity: 1

@keyframes slide-out-right
  0%
    transform: translateX(0)
    opacity: 1

  100%
    transform: translateX(1000px)
    opacity: 0
</style>
